body{
  background: url('background3.jpg')
}

.content {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  /* border: 5px solid goldenrod; */
  padding: 10px;
  background-blend-mode: darken;
  color: white;
}

.scroller {

  height: 400px;
  overflow: scroll;
} 

.header{
  text-align: center;
  background-color: darkgoldenrod;
  color: black;
  font-size: x-large;
  border: 15px solid darkgoldenrod;
}

.btn.btn-warning{
  background-color: darkgoldenrod;
  border: darkgoldenrod
}


